
    <br />
    <span>Layouts:</span>
    <br />
    <button type="button" id="template1" class="btn btn-template" onclick="LoadTemplate(this)">1</button>
    <button type="button" id="template2" class="btn btn-template" onclick="LoadTemplate(this)">2</button>
    <button type="button" id="template3" class="btn btn-template" onclick="LoadTemplate(this)">3</button>
    <button type="button" id="template4" class="btn btn-template" onclick="LoadTemplate(this)">4</button>
    <button type="button" id="template5" class="btn btn-template" onclick="LoadTemplate(this)">5</button>
    <button type="button" id="template6" class="btn btn-template" onclick="LoadTemplate(this)">6</button>
    <button type="button" id="template7" class="btn btn-template" onclick="LoadTemplate(this)">7</button>
    <div id="dragg1" class="ui-widget ui-corner-all"><img src="~/img/text.png" width="20" height="20" ></div>
    <div id="dragg2" class="ui-widget ui-corner-all"><img src="~/img/image.png" width="20" height="20"></div>
    <div id="dragg3" class="ui-widget ui-corner-all"><img src="~/img/video.png" width="20" height="20"></div>
