
    <br />
    <span>Layouts:</span>
    <br />
    <button type="button" id="template1" class="btn btn-template" onclick="LoadTemplate(this)" style="background-image:url(/img/template1.jpg)"></button>
    <button type="button" id="template2" class="btn btn-template" onclick="LoadTemplate(this)" style="background-image:url(/img/template2.jpg)"></button>
    <button type="button" id="template3" class="btn btn-template" onclick="LoadTemplate(this)" style="background-image:url(/img/template3.jpg)"></button>
    <button type="button" id="template4" class="btn btn-template" onclick="LoadTemplate(this)" style="background-image:url(/img/template4.jpg)"></button>
    <button type="button" id="template5" class="btn btn-template" onclick="LoadTemplate(this)" style="background-image:url(/img/template5.jpg)"></button>
    <button type="button" id="template6" class="btn btn-template" onclick="LoadTemplate(this)" style="background-image:url(/img/template6.jpg)"></button>
    <button type="button" id="template7" class="btn btn-template" onclick="LoadTemplate(this)" style="background-image:url(/img/template7.jpg)"></button>
    <br />
    <span>Content:</span>
    <br />
   <p> <div id="dragg1" class="ui-widget ui-corner-all"><img src="~/img/text.png" width="20" height="20" ></div>
    <div id="dragg2" class="ui-widget ui-corner-all"><img src="~/img/image.png" width="20" height="20"></div>
    <div id="dragg3" class="ui-widget ui-corner-all"><img src="~/img/video.png" width="20" height="20"></div></p>
<p>
    <button type="button" id="savePage" class="btn btn-primary" onclick="SavePage()">save</button>
</p>
