.main-form {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;

}

.square {
    position: relative;
    margin-left: 3.3%;
    float: left;
    height: 45%;
    width: 45%;
    overflow: hidden;
    background: transparent;
        overflow: auto;
}
.square .imaga{
    max-height:100%;
    max-width:100%;
}
.skew1 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 60%;
    overflow: hidden;
    -webkit-clip-path: polygon(2% 2%, 98% 2%, 98% 92%, 2% 72%);
    clip-path: polygon(2% 2%, 98% 2%, 98% 92%, 2% 72%);
        overflow: auto;
}

.unskew1 {
    height: 120%;
    width: 100%;
    -webkit-clip-path: polygon(2% 2%, 98% 2%, 98% 92%, 2% 72%);
    clip-path: polygon(2% 2%, 98% 2%, 98% 92%, 2% 72%);
        overflow: auto;
}

.skew2 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60%;
    overflow: hidden;
    -webkit-clip-path: polygon(2% 8%, 98% 28%, 98% 98%, 2% 98%);
    clip-path: polygon(2% 8%, 98% 28%, 98% 98%, 2% 98%);
        overflow: auto;
}

.unskew2 {
    height: 100%;
    width: 100%;
    -webkit-clip-path: polygon(2% 8%, 98% 28%, 98% 98%, 2% 98%);
    clip-path: polygon(2% 8%, 98% 28%, 98% 98%, 2% 98%);
        overflow: auto;
}

.rectangle {
    position: relative;
    float: left;
    overflow: hidden;
    width:60%;
}

.rectangle .imaga{
    max-height:100%;
    max-width:100%;
}

.rect {
    height: 44%;
    width: 93.4%;
    margin-left: 3.3%;
    margin-top: 3.3%;
    overflow: auto;
}

.rect-vertical {
    width: 44%;
    height: 93.4%;
    margin-left: 3.3%;
    margin-top: 3.3%;
}
.wrapper {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    position: relative;
}

    .wrapper:after {
        padding-top: 100%;
        display: inline-block;
        content: '';
    }
.cell {
    background: gray;
}
.allbut{
    position: fixed;
    right: 10px;
    top: 10px;
    border: dashed;
}
 .ui-draggable {
            padding: 15px;
            border-style: solid;
            border-width: 1px;
            width: 130px;
            height: 100px;
        }
 .ui-draggable-dragging {
            background-color: #ecbfda;
        }
 #dragg1
{
display: inline-block;
padding:15px;
border-style:solid;
border-width:1px;
width:10px;
height:10px;
}
  #dragg2
{
display: inline-block;
padding:15px;
border-style:solid;
border-width:1px;
width:10px;
height:10px;
}
   #dragg3
{
display: inline-block;
padding:15px;
border-style:solid;
border-width:1px;
width:10px;
height:10px;
}
   .dialog{
       visibility: hidden;
   }
