
      #sq1{
        background: none;
    }
     #sq2{
        background: none;
    }
      #sq3{
        background: none;
    }
       #sq4{
        background: none;
    }
       #allbutId{
           display: none;
       }