
@{
    ViewBag.Title = @Resources.Resource.IndexHeader;
}

<td><a href="@Url.Action("CreateSite", "Home", new { user_id = (string)Session["CurrentUserId"]})" class="btn btn-primary">Create Site</a></td>

