@model PagedList.IPagedList<Sitemaker.Models.Site>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
}

<div id="updatetarget">
    @{ Html.RenderPartial("TableSearch", Model);}
</div>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>