@model Sitemaker.Models.Page

@{Layout = null;}

    @Styles.Render("~/Content/PageLayout")


@*<a href="@Url.Action("Index", "Sites", new { userId = (string)Session["CurrentUserName"] })">Back to list </a>*@


<html class="no-js" lang="en">

@Html.Raw(Model.HtmlCode)

</html>

