@model Sitemaker.Models.Page
@{
    Layout = null;
}

<!DOCTYPE html>
@Styles.Render("~/Content/PageLayout")
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    @Html.Raw(Model.HtmlCode)
    </div>
</body>
</html>
