@model Sitemaker.Models.UserRating
@{
    ViewBag.Title = "ShowUser";
 }

<style>
    .medal p { 
position: relative; 
margin: 0; 
top: -55px; 
left: 40px; 
font-weight: bold; 
z-index: 2; 
 color:#fff;
 text-shadow:0px 0px 20px #00c6ff; 
 font-size:30px
}

    .medal {
        z-index: 1;
        top: 0px;
        width: 100px;
        height: 120px;
        display: inline-block;
        position: relative;
    }

    .ribbon {
        width: 80px;
        height: 70px;
        margin: 0 auto;
        position: relative;

    }

        .ribbon:before,
        .ribbon:after {
            content: '';
            position: absolute;
            width: 35px;
            height: 100%;
            top: 0;
        }

        .ribbon:before {
            right: 0;
            background: #30110E;
            transform: skew(-28deg);
        }

        .ribbon:after {
            background: #EF7E76;
            transform: skew(28deg);
        }

    .coin {
        border: 1px solid #CA5D3E;
        border-radius: 50%;
        background: #F0CD73;
        width: 70px;
        height: 70px;
        position: relative;
        margin: -15px auto 0 auto;
        box-shadow: 0px 0px 3px 0px #989898;
    }

        .coin:after {
            content: '';
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            width: 35px;
            height: 35px;
            border-radius: inherit;
            box-shadow: 0 0 0 9px #D9B867;
        } 
       
</style>




    @if (Model.Medals != null)
    {
        foreach (var item in Model.Medals)
        {
            <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.."></script>
            <div class="medal">
                <div class="ribbon"></div>
                <div class="coin"></div>
                <p>@item.Description</p>
            </div>
        }
    }


<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.Sites)
    {
        <tr>
            <td>
                 <a href="@Url.Action("OpenSite", "Sites", new {userName = (string)Session["CurrentUserName"], id = item.Id, indicator = true})">@item.Name</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.About)
            </td>
        </tr>
    }
</table>



